#app,body,html {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	text-align:center;
	position:absolute;
	background:#fff;
}
#back {
	position:fixed;
	display:flex;
	text-align:left;
	top:50%;
	transform:translateY(-50% );
}
.span {
	background-color:#fff;
	font-weight:bolder;
}
.el-main {
	height:70%;
	color:#333;
	line-height:180px;
	text-align:center;
	font-size:12em;
}
body > .el-container {
	margin-bottom:40px;
}
.el-container {
	height:94%;
	width:100%;
}
.el-header {
	height:20%;
	color:#00bfff;
	line-height:60px;
	font-weight:bolder;
}
.el-footer,.el-header {
	background-color:#fff;
	text-align:center;
	font-size:larger;
}
.el-footer {
	height:10%;
	color:#000;
	line-height:50px;
}
h2[data-v-d40ea11a] {
	color:#409eff;
}
div.el-dialog__body {
	padding-top:0;
	padding-bottom:50px;
}
@media screen and(max-width:750px) {
	.el-message-box {
	width:60% !important;
}
;}.center th.cell,.el-table td,.el-table th {
	text-align:center ! important;
}
.el-table.waring-row {
	background:#fdf5e6;
}
.el-table.success-row {
	background:#f0f9eb;
}
.el-table.second-row {
	background:#409eff;
}
.el-table.third-row {
	background:#e6a23c;
}